<div class="values row">
    <h2>Array 1</h2>
<span class="value">{{array1[0]}}</span>
<span class="value">{{array1[1]}}</span>
    <span class="value">{{array1[2]}}</span>
    <span class="value">{{array1[3]}}</span>
    <span class="value">{{array1[4]}}</span>
<button ng-click="randomize()">Randomize</button>
</div>
<div class="values row">
    <h2>Array 2</h2>
<span class="value">{{array2[0]}}</span>
<span class="value">{{array2[1]}}</span>
    <span class="value">{{array2[2]}}</span>
    <span class="value">{{array2[3]}}</span>
    <span class="value">{{array2[4]}}</span>
    <button ng-click="randomize2()">Randomize</button>

</div>

<div class="row">
<button ng-click="merge()">Sort</button>
    {{spike}}
</div>